* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #9792e4;
    --secondary-color: #0084fd;
    --another-color: #b5ddff;
  }

header {
    background-color: var(--secondary-color);
    height: 70px;
    display: flex;
    justify-content: center;
}

.header-container  {
    width: 1000px;
    height: 70px;
    display: flex;
    align-items: center;

}

.logo {
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
}

.menu {
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.list {
    display: flex;
    list-style: none;
}

.link {
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.link:hover {
    text-decoration: underline;
}

.button {
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

.special {
    padding-left: 20px;
}

.button:hover {
    background-color: black;
    color: white;
}

.cont1 {
    width: 1000px;
    min-height: 700px;
    margin: 0 auto;
    margin-top: 2rem;
}

.inner-main-box {
    height: 350px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.big-column {
    width: 65%;
    border-radius: 20px;
    height: 350px;
    display: flex;
    background-color: var(--another-color);
}

.medium-column {
    width: 30%;
    border-radius: 20px;
    height: 350px;
    background-color: var(--another-color);
    text-align: center;
}

.small-column {
    width: 30%;
    border-radius: 20px;
    height: 350px;
    background-color: var(--another-color);
    text-align: center;
}

.text {
    width: 60%;
    height: 350px;
}

.img {
    width: 40%;
    height: 350px;
    display: flex;
    align-items: flex-end;
}

h3 {
    color: var(--secondary-color);
    padding-left: 20px;
    padding-top: 20px;
}

.special-p {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-weight: bold;
}

.apple {
    background-color: var(--secondary-color);
    padding: 10px 40px;
    margin-left: 20px;
    border-radius: 20px;
}

.apple:hover {
    background-color: black;
    color: white;
}

.phone {
    width: 250px;
}

.icon {
    font-size: 5rem;
    color: var(--secondary-color);
    padding-top: 20px;
}

.small.column > h2 {
    color: var(--secondary-color);
    text-align: center;
    padding-top: 20px;
}

.paragraph {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.bg-color {
    background-color: var(--primary-color);
    height: 700px;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
}

.little-container {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.column {
    width: 50%;
    height: 600px;
}

.img-size {
    width: 350px;
}

.inner-column {
    display: flex;
    justify-content: center;
}

.planning-title {
    color: white;
    padding-top: 50px;
    text-indent: 50px;
    font-size: 1.5rem;
}

.another-p {
    color: white;
    padding-left: 50px;
    padding-top: 50px;
}

.little-column {
    width: 50%;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 50px;
}

.flexer {
    display: flex;
    justify-content: center;
}

.img-size2 {
    width: 200px;
}

.info {
    text-align: center;
    padding-top: 50px;
}

.italic-p {
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon2 {
    background-color:var(--primary-color) ;
    padding: 10px;
    border-radius: 50%;
}

.test {
    text-align: center;
}

.main-title {
    color: var(--primary-color);
    font-size: 2.5rem;
    text-align: center;
}

.card {
    height: 200px;
    background-color: var(--primary-color);
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-card1 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-card2 {
    width: 70%;
    height: 100px;
}

.tester {
    width: 200px;
    border-radius: 50%;
}

.inner-card2 > p {
    color: white;
}

.inner-card2 > div {
    color: white;
    font-weight: bold;
    padding-top: 20px;
}

.bg-primary {
    background-color: var(--primary-color);
    min-height: 700px;
}

.title > h2 {
    color: white;
    text-align: center;
}

.card-cont {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-cont > .cardbis {
    width: 30%;
    height: 45%;
    background-color: white;
    border-radius: 20px;
}

.cardbis > div {
    font-size: 3rem;
    color: var(--primary-color);
    padding-left: 20px;
}

.cardbis > h3 {
    color: var(--primary-color);
    padding-bottom: 20px;
}

.cardbis > p {
    padding-left: 20px;
    margin-bottom: 20px;
}

.cardbis > a {
    margin-left: 20px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
}

.about-us {
    margin-top: 30px;
}

.about-cont {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 700px;
}

.about-col {
    width: 60%;
}

.about-col2 {
    width: 30%;
}

.about-col > h2 {
    font-size: 3rem;
    color: var(--primary-color);
}

.about-col > p {
    line-height: 30px;
    margin-top: 30px;
}

.about-col2 > img {
    width: 100%;
    border-radius: 50%;
}

.about-col2 > p {
   font-size: 2rem;
   color: var(--primary-color);
   font-weight: bold;
   margin: 30px 0;
}

.about-col2 > a {
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 20px;
}

.free {
    background-color: var(--primary-color);
    height: 400px;
}

.free-cont {
    width: 50%;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}

.free-cont > h4 {
    color: white;
    padding-top: 20px;
    font-weight: 100;
}

.free-cont > h3 {
    color: white;
    padding-top: 20px;
    font-weight: bold;
    font-size: 2rem;
}

.free-cont > h2 {
    color: gold;
    padding-top: 20px;
    font-weight: bold;
    font-size: 3rem;
}

.free-cont > p {
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 0.75rem;
}

.free-cont > a {
    text-decoration: none;
    padding: 10px 30px;
    color: var(--primary-color);
    background-color: white;
    border-radius: 20px;
}

#span {
    text-decoration: underline;
    cursor: pointer;
}

footer {
    background-color: black;
    height: 250px;
}

.footer-cont {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.footer-cont > p {
    color: white;
    padding: 20px 0;
}

.footer-span {
    text-decoration: underline;
    color: var(--primary-color);
    cursor: pointer;
}





